/* Text */

.text-center {
    text-align: center;
}

.text-weight {
    font-weight: bold;
}

.heading-small {
    font-size: 1.25rem;
}

.heading-medium {
    font-size: 1.5rem;
}

.heading-big {
    font-size: 1.75rem;
}

/* Colors */

.bg-green {
    background: green
}

.bg-light-green {
    background: #00FF7F;
}

/* Buttons */

.btn {
    margin-top: 1.25rem;
    padding: 0.8rem 3rem;
    border-radius: 5px;
    letter-spacing: 0.75px;
}

.btn-primary {
    background: blue;
}

.btn-primary:hover {
    color: blue;
    background: #fff;
    border: 0.5px solid black;
}

.btn-dark {
    background: black;
}

.btn-dark:hover {
    color: #333;
    background: #fff;
    border: 0.5px solid black;
}

.btn-block {
    width: 100%;
    text-align: center;
}

/* Forms */

.form-group {
    padding: 0.25rem 0;
}

.form-group label {
    display: block;
}

.form-control {
    width: 100%;
    padding: 0.25rem;
    font-size: 1rem;
    resize: none;
    border-radius: 5px;
}

/* Container */

.container {
    max-width: 1100px;
    margin: 0 auto
}

#contact .contact-form ul {
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
    align-self: center;
}

#contact .contact-form ul li a {
    padding: 1rem;
    font-size: 2rem;
}

#contact .contact-form ul li a:hover {
    color: orange
}